html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a img {
  border: 0;
}
a {
  text-decoration: none;
}
a, input {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input, textarea {
  border: 0;
  outline: 0;
}

textarea {
  resize: none;
}