// Width
$designWidth: 750;

// Height
$headerHeight: 90 !default;
$navbarHeight: 98 !default;

// Font
$font-cn: "PingFang SC","Hiragino Sans GB","Microsoft YaHei";

// Color
$primary:       #018ad9 !default;
$red:         	#fa6854 !default;
$green:         #3db86c !default;
$gray-dark:     #333 !default;
$gray:          #666 !default;
$gray-light:    #999 !default;
$gray-lighter:  #ccc !default;
$link-color:    $primary !default;
$border-color:  #ddd !default;
$border-color2: #eee !default;
$bg-color:      #f1f1f1 !default;

// Background
$imgPath: "../../assets/" !default;
$imgPath2: "../assets/" !default;
$imgPath3: "assets/" !default;
